/* Bordered form */
body{
  margin: 0;
  background-color: #1d1c21;
  color: #999999;
}
form {
    border: 3px solid #1d1c21;
    position: relative; 
    z-index: 1;
    margin: 0 10% 0 10%
  }

  .registerLabelDiv{
    padding: 10% 35% 2% 35% ;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  #registerLabel {
    font-family:'Times New Roman', Times, serif;
    color: white;
    z-index: 1;
  }

  .border-top-left {
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 1%;
    left: 1%;
    z-index: 0;
}
.border-bottom-right {
    position: absolute;
    height: 30vh;
    width: 30vh;
    bottom: 1%;
    right: 1%;
    z-index: -1;
}

  input[type=email], input[type=password], input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
  }
  input[type=text]{
    margin-top: 0px;
  }
  
  button {
    background-color: #5a9e16;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 50%;
    transition: 0.5s; 
  }

  button:hover {
    opacity: 0.8;
  }

  .registerButton{
    display:block;
    margin: 10px auto;
    background-color: #005BB7;
    border-color: #679AE6;
    border-radius: 10px;
    
  }
  .loginButton{
    display:block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px 20px;
    border-color: #296a01;
    border-radius: 7px;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-top: 10px;
    background-color: #f44336;
    border-color: #9e2b23;
    border-radius: 8px;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    background-color: #1d1c21;
    text-align: center;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }
  #ResponseMessageDiv {
    position: relative;
    left: 3%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    width: 90%;
}

#ErrorLabel {
    color: red;
    display: none;
}

#AccountMade {
    color: green;
    display: none;
}


  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }