/*mobile version*/

body{
    margin: 0;
    background-color: #191919;
}

.page {
    flex-direction: column;
    font-family: Arial;
    color: #DDDDDD;
}

.introduction-name, .introduction-description, .introduction-about_me{
  margin: 0px;
  font-family:'Times New Roman', Times, serif;

}
.introduction-name {
    margin-top: 33vh;
    font-size: xxx-large;
}
.introduction-description {
    font-size:xx-large;
}
.introduction-about_me{
    font-size: large;
    padding-top: 20vh;
}

.personalia {
    background-color: #191919;
    width:auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.profile {
    background-color: #191919;
    width: 100%;
}

.person-logo {
    border-radius: 50%;
    margin: 0;
    float: right;
    width: 128px;
    height: 128px;
    animation: glow 3s ease alternate;
    position: absolute;
    top: 30%;
    right: 3%; 

}

.profile-content {
    color: #999999;
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: #DDDDDD;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    color: #DDDDDD;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: #27384C;
    margin-top: 0px;
    font-size: 14px;
}
.header-content {
    Color:#101010;
    display: sticky;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .introduction-name{
        order: -1;
        display: block;
    }



    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #3A3042;
        display: flex;
    }
    .person-logo {
        position: absolute;
        width: 235px; 
        height: 235px; 
        right: 2%; 
    }
    .section-about_me{
        padding-left: 36%;     
        width: 50vh;
    }

}