/*mobile version*/

body{
    margin: 0;
    background-color: #1d1c21;
}

.page {
    flex-direction: column;
    font-family: Arial;
    color: #DDDDDD;
}

.introduction-name, .introduction-description, .introduction-about_me{
  margin: 0px;
  font-family:'Times New Roman', Times, serif;

}
.introduction-name {
    margin-top: 33vh;
    font-size: xxx-large;
}
.introduction-description {
    font-size:xx-large;
}
.introduction-about_me{
    font-size: large;
    padding-top: 20vh;
    z-index: 2;
    position: relative;
}

.personalia {
    background-color: #1d1c21;
    width:auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.profile {
    background-color: #1d1c21;
    width: 100%;
}

.person-logo {
    border-radius: 50%;
    margin: 0;
    float: right;
    width: 128px;
    height: 128px;
    animation: glow 3s ease alternate;
    position: absolute;
    top: 30%;
    right: 3%; 

}

.border-top-left {
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 1%;
    left: 1%;
}
.border-bottom-right {
    position: absolute;
    height: 30vh;
    width: 30vh;
    bottom: 1%;
    right: 1%;
    z-index: 0;
}

.profile-content {
    color: #999999;
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: #DDDDDD;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    color: #DDDDDD;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: #27384C;
    margin-top: 0px;
    font-size: 14px;
}
.header-content {
    Color:#101010;
    display: sticky;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }

  .contact-info{
    width: 50vh;
    height: 50px;
    position:absolute;
    top: 4vh;
    left: 8vh;
  }
  .phone {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2.8vh;
    left: -22px; 
  }
  .mail{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 7.5vh;
    left: -27px; 
  }
  .house{
    height: 28px;
    width: 28px;
    position: absolute;
    top: 13vh;
    left: -28px; 
  }
  .contact-info__mail{
    position: relative;
    z-index: 2;
  }


  /* TEST !!!!!!!!!!!! */
  input[type=text], input[type=email], select, textarea {
    width: 30%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; 
  }
  input[type=email] {
    margin-left: 4vh;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* TEST !!!!!!!!!!!!!!!!!!! */

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  
.container {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.gdpr-consent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    position: fixed;
    bottom:-10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px;
    background-color: gray;
    z-index: 2;
    width: 300px;
}


.gdpr-consent__description{
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept {
    background-color: #d5f5d5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family:'Times New Roman', Times, serif;
}

.gdpr-consent__button--accept:hover {
    background-color: #c5e3c5;
}

.gdpr-consent__button--reject {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family:'Times New Roman', Times, serif;
}

.hide{
    display: none;
}

.show{
    display: block;
}


@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .introduction-name{
        order: -1;
        display: block;
    }



    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #3A3042;
        display: flex;
    }
    .person-logo {
        position: absolute;
        width: 235px; 
        height: 235px; 
        right: 2%; 
    }
    .section-about_me{
        padding-left: 36%;     
        width: 50vh;
    }
    .contact-info__phone{
        padding-top: 10px;
      }
      .contact-info__mail{
        padding-top: 12px;
      }
      .contact-info__residence{
        padding-top: 15px;
      }
      .gdpr-consent {
        width: 600px;
      }


}